.nav {
  position: fixed;
  top: 0;
  left: 20%;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 10px;
  padding: 10px;

  li {
    padding: 5px;
    background: var(--button-primary-color-bg);
    border-radius: 5px;
  }

  a {
    font-weight: 400;
    color: #FFF;
  }
}
