<div class="content">
    <div class="content__wrapper">
        {{> content-header/content-header}}
        {{> content-messages/content-messages}}
        {{> content-footer/content-footer}}
    </div>
</div>
