.content {
  display: flex;
  flex: 1;
  justify-content: center;

  background-color: white;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: var(--card-box-shadow);

  &__wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
  }
}
