@import url("../../styles/globals.pcss");
@import url("../../partials/navbar/navbar.pcss");
@import url("../../partials/text-field/text-field.pcss");
@import url("../../partials/profile-block/profile-block.pcss");
@import url("../../partials/profile-info/profile-info.pcss");

.container {
  display: flex;
  column-gap: 20px;

  height: 100%;
  min-height: 100%;
  padding: 20px 20px 0;

  background: var(--bg-color);
}



