<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навигация</title>
</head>
<body>
<div class="container">
    <ol>
        <li><a href="./chat/chat.hbs">Чат</a></li>
        <li><a href="./signIn/signIn.hbs">Авторизация</a></li>
        <li><a href="./signUp/signUp.hbs">Регистрация</a></li>
        <li><a href="./error404/error404.hbs">Ошибка 404</a></li>
        <li><a href="./error500/error500.hbs">Ошибка 500</a></li>
        <li><a href="./profile/profile.hbs">Профиль</a></li>
        <li><a href="./profileChangeData/profileChangeData.hbs">Профиль. Изменить данные</a></li>
        <li><a href="./profileChangePassword/profileChangePassword.hbs">Профиль. Изменить пароль</a></li>
        <li><a href="./profileNewAvatar/profileNewAvatar.hbs">Профиль. Загрузить аватар</a></li>
    </ol>
</div>
</body>
</html>