@import url("../../styles/globals.pcss");
@import url("../../partials/card-container/card-container.pcss");
@import url("../../partials/text-field/text-field.pcss");
@import url("../../partials/button/button.pcss");
@import url("../../partials/login-card/login-card.pcss");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}