{{#> card-container/card-container className="popup-toggle-user"}}
    <div class="popup-toggle-user__row">
        <div class="popup-toggle-user__icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="#497174" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 18.4615C11.7552 18.4615 11.5204 18.3643 11.3473 18.1912C11.1742 18.0181
                11.0769 17.7833 11.0769 17.5384V12.9231H6.46153C6.21671 12.9231 5.98193 12.8258 5.80882
                12.6527C5.6357 12.4796 5.53845 12.2448 5.53845 12C5.53845 11.7552 5.6357 11.5204 5.80882
                11.3473C5.98193 11.1742 6.21671 11.0769 6.46153 11.0769H11.0769V6.46153C11.0769 6.21671 11.1742
                5.98193 11.3473 5.80882C11.5204 5.6357 11.7552 5.53845 12 5.53845C12.2448 5.53845 12.4796 5.6357
                12.6527 5.80882C12.8258 5.98193 12.9231 6.21671 12.9231 6.46153V11.0769H17.5384C17.7833 11.0769
                18.0181 11.1742 18.1912 11.3473C18.3643 11.5204 18.4615 11.7552 18.4615 12C18.4615 12.2448 18.3643
                12.4796 18.1912 12.6527C18.0181 12.8258 17.7833 12.9231 17.5384 12.9231H12.9231V17.5384C12.9231 17.7833
                12.8258 18.0181 12.6527 18.1912C12.4796 18.3643 12.2448 18.4615 12 18.4615Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C9.62663 24 7.30655 23.2962 5.33316
                21.9776C3.35977 20.6591 1.8217 18.7849 0.913451 16.5922C0.00519943 14.3995 -0.232441 11.9867
                0.230582 9.65892C0.693605 7.33115 1.83649 5.19295 3.51472 3.51472C5.19295 1.83649 7.33115
                0.693605 9.65892 0.230582C11.9867 -0.232441 14.3995 0.00519943 16.5922 0.913451C18.7849 1.8217
                20.6591 3.35977 21.9776 5.33316C23.2962 7.30655 24 9.62663 24 12C24 15.1826 22.7357 18.2348
                20.4853 20.4853C18.2348 22.7357 15.1826 24 12 24ZM12 1.84616C9.99176 1.84616 8.02862 2.44167
                6.35883 3.55739C4.68904 4.67311 3.38759 6.25892 2.61907 8.1143C1.85055 9.96967 1.64947 12.0113
                2.04126 13.9809C2.43305 15.9506 3.40011 17.7598 4.82015 19.1799C6.24019 20.5999 8.04943 21.567 10.0191
                21.9587C11.9887 22.3505 14.0303 22.1495 15.8857 21.3809C17.7411 20.6124 19.3269 19.311 20.4426
                17.6412C21.5583 15.9714 22.1538 14.0082 22.1538 12C22.1538 9.30704 21.0841 6.72437 19.1799
                4.82015C17.2756 2.91594 14.693 1.84616 12 1.84616Z" fill="#497174"/>
            </svg>
        </div>
        <p>Добавить пользователя</p>
    </div>
    <div class="popup-toggle-user__row">
        <div class="popup-toggle-user__icon">
            <svg viewBox="0 0 22 22" fill="#497174" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.93919 11L6.58044 7.64124L7.6411 6.58058L10.9999 9.93934L14.3586 6.58058L15.4193
                7.64124L12.0605 11L15.4193 14.3588L14.3586 15.4194L10.9999 12.0607L7.6411 15.4194L6.58044 14.3588L9.93919 11Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751
                0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22ZM11 20.5C16.2467 20.5 20.5 16.2467 20.5
                11C20.5 5.75329 16.2467 1.5 11 1.5C5.75329 1.5 1.5 5.75329 1.5 11C1.5 16.2467 5.75329 20.5 11 20.5Z"/>
            </svg>
        </div>
        <p>Удалить пользователя</p>
    </div>
{{/card-container/card-container}}
