.popup-toggle-user {
  position: absolute;
  top: 52px;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  width: auto;
  padding: 15px;

  background: #FFF;

  &__row {
    cursor: pointer;

    display: flex;
    column-gap: 15px;
    align-items: center;

    padding: 8px;

    border-radius: 5px;

    p {
      white-space: nowrap;
    }

    &:hover {
      background: var(--bg-color);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}