<div class="content-messages">
    <div class="content-messages__is-date">
        <span>Сегодня</span>
    </div>

    {{#> post/post timePost="11:44"}}
        <p>
            Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
            попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты
            летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны,
            так как астронавты с собой забрали только кассеты с пленкой.
        </p>
    {{/post/post}}

    {{#> post/post timePost="11:56"}}
        <img src="/src/assets/img/Photo.jpg" alt="photo">
    {{/post/post}}

    {{#> post/post isMy=true timePost="12:11"}}
        <p>Круто!</p>
    {{/post/post}}
</div>