<div class="chats">
    <div class="chats__user">
        <div class="chats__avatar"></div>
        <h1 class="chats__full-name">Crown Jackson</h1>
    </div>

    <div class="chats__search">
        {{>text-field/text-field type="text" placeholder="Поиск"}}
    </div>

    <h2 class="chats__title">Чаты</h2>

    <div class="chats__cards">
        <ul class="chats__list">
            {{>chats-card/chats-card name="Андрей" message="Изображение" dateMes="10:49" mark="2"}}
            {{>chats-card/chats-card name="Илья" message="И Human Interface Guidelines и Material Design..."
                    dateMes="12:00" mark="4"}}
            {{>chats-card/chats-card name="Киноклуб" message="Друзья, у меня для вас особенный выпуск..." dateMes="Пн" }}
            {{>chats-card/chats-card name="Вадим" message="Миллионы россиян ежедневно проводят..." dateMes="Ср" mark="12" }}
            {{>chats-card/chats-card name="Тет-а-теты" class="chats-card_selected" message="В 2008 году художник Jon Rafman..."
                    dateMes="1 мая 2020" }}
            {{>chats-card/chats-card name="Влад Ко" message="Так увлёкся работой по курсу, что совсем заб..."
                    dateMes="Вт"}}
            {{>chats-card/chats-card name="Коллектор" message="Привет! Где деньги?" dateMes="12 апреля 1992" }}
        </ul>
    </div>
</div>