.popup{
  position: absolute;
  top: 52px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  background: var(--card-color-bg);
  border-radius: 12px;
  box-shadow: var(--card-box-shadow);
}

.button {
  align-self: center;
  padding: 0;
  margin: 10px 0 5px;
  color: #EF1B1B;
  background: transparent;

  &:hover, &:focus{
    text-decoration: underline;
    background: transparent;
  }
}
