<div class="popup-add-file">
    {{#> card-container/card-container className="popup-add-file__wrapper"}}
        <h3>Загрузите файл</h3>
        <a download>Выбрать файл на компьютере</a>

        {{>button/button text="Поменять" className="popup-add-file__btn"}}
    {{/card-container/card-container}}
</div>