<div class="popup-add-file">
    {{#> card-container/card-container}}
        <form action="/" class="popup-add-file__form">
            <h3>Загрузите файл</h3>
            <a download>Выбрать файл на компьютере</a>

            {{>button/button text="Поменять" className="popup-add-file__btn" type="submit" name="send"}}
        </form>
    {{/card-container/card-container}}
</div>
