.contentMessages {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 18px 21px;
}

.isDate {
  align-self: center;
  padding: 2px 23px;
  margin-bottom: 30px;
  background-color: #F1F2F4;
  border-radius: 27px;

  span {
    font-size: 10px;
    font-weight: 500;
    color: #B3B5BB;
  }
}
